.section {
  display: flex;
  flex-direction: column;
  gap: calc(var(--large-spacing) * 1.5);
  padding: var(--normal-spacing);
  max-width: var(--large-max-width);
  margin: 0px auto;
}

.title {
  font-size: var(--large-font-size);
  color: var(--primary-text-color);
  text-align: center;
  text-transform: uppercase;
}

.gridImages {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: var(--medium-spacing);
}

.gridCol {
  display: flex;
  flex-direction: column;
  gap: var(--medium-spacing);
  position: relative;
}

.image {
  width: 100%;
  height: fit-content;
  border-radius: 10px;
  z-index: -1;
}

.article {
  display: flex;
  flex-direction: column;
}

.subtitle {
  color: var(--primary-text-color);
  text-transform: uppercase;
  font-size: var(--medium-spacing);
  margin-bottom: calc(var(--medium-spacing) * 1.5);
}

.contentContainer {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: calc(var(--medium-spacing) * 1.5);
}

.contentCols {
  display: flex;
  flex-direction: column;
  gap: calc(var(--medium-spacing) * 1.5);
  line-height: var(--large-line-height);
  font-size: var(--medium-font-size);
}

.aboutItemContainer {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.indicatorContainer {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  position: relative;
}

.numberContainer {
  position: relative;
}

.numberContainer > span {
  color: #000;
  position: absolute;
  top: 20%;
  left: 40%;
  font-weight: bold;
}

.line {
  width: 1px;
  height: 100%;
  background: linear-gradient(
    180deg,
    hsla(0, 0%, 100%, 0.2),
    hsla(0, 0%, 100%, 0.2) 50%,
    black 0,
    black
  );
  background-size: 1px 5px;
  position: absolute;
  top: 50px;
}

.hiddeLine {
  display: block;
}

.serviceContainer {
  display: flex;
  flex-direction: column;
  gap: var(--normal-spacing);
}

.serviceTitle {
  color: var(--primary-text-color);
  font-size: calc(var(--medium-font-size) * 1.3);
}

@media screen and (min-width: 600px) {
  .gridImages {
    grid-template-columns: repeat(2, 1fr);
  }

  .gridImages > :nth-child(odd) {
    margin-top: var(--medium-spacing);
  }

  .subtitle {
    font-size: calc(var(--medium-spacing) * 1.2);
  }
}

@media screen and (min-width: 800px) {
  .contentContainer {
    grid-template-columns: repeat(2, 1fr);
    gap: var(--normal-spacing);
  }

  .hiddeLine {
    display: none;
  }

  .title {
    margin-bottom: var(--large-spacing);
  }

  .gridImages {
    grid-template-columns: repeat(4, 1fr);
  }

  .contentContainer {
    gap: calc(var(--large-spacing) * 1.5);
  }
}
