:root {
  --main-background-color: #000;
  
  --primary-text-color: #fff;
  --secondary-text-color: #aea79c;
  --tertiary-text-color: #e5e3df;
  --accent-text-color: #8131ff;

  --normal-spacing: 20px;
  --medium-spacing: 40px;

  --small-font-size: 14px;
  --medium-font-size: 16px;
  --large-font-size: 36px;
}

* {
  padding: 0px;
  margin: 0px;
}

body {
  background-color: var(--main-background-color);
  color: var(--secondary-text-color);
}

strong {
  color: var(--primary-text-color);
}
