:root {
  --main-background-color: #000;
  
  --primary-text-color: #fff;
  --secondary-text-color: #aea79c;
  --tertiary-text-color: #e5e3df;
  --accent-text-color: #8131ff;

  --small-spacing: 10px;
  --normal-spacing: 20px;
  --medium-spacing: 40px;
  --large-spacing: 80px;

  --small-font-size: 14px;
  --medium-font-size: 16px;
  --large-font-size: 32px;
  
  --small-letter-spacing: -2px;
  
  --large-line-height: 1.5em;
  --normal-line-height: 1em;
}

* {
  padding: 0px;
  margin: 0px;
}

body {
  background-color: var(--main-background-color);
  color: var(--secondary-text-color);
}

strong {
  color: var(--primary-text-color);
}

@media screen and (min-width: 392px) {
  :root{ 
    --large-font-size: 42px;
  }
}

@media screen and (min-width: 515px) {
  :root {
    --large-font-size: 45px;
  }
}

@media screen and (min-width: 1200px) {
  :root {
    --large-font-size: 72px;
  }
}