.navbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-transform: uppercase;
  color: var(--primary-text-color);
  font-size: var(--medium-font-size);
  background-color: #00000050;
  position: sticky;
  top: 0;
  backdrop-filter: blur(2px);
  z-index: 2;
}

.title {
  font-family: "Russo One", sans-serif;
  padding: calc(var(--small-spacing) * 1.5) var(--normal-spacing);
  font-size: var(--medium-font-size);
}

.titleLink {
  color: var(--primary-text-color);
  text-decoration: none;
  transition: color 200ms linear;
}

.titleLink:hover {
  color: var(--secondary-text-color);
}

.menu {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.menuItem {
  display: none;
  padding: calc(var(--small-spacing) * 1.5) var(--normal-spacing);
  font-weight: bold;
  font-size: var(--small-font-size);
}

.menuItem:last-child {
  display: block;
}

@media screen and (min-width: 768px) {
  .menuItem {
    display: block;
  }
}
